  <div class="upload">
    <p>
        <%= f.label :upload, "Load Dictionary" %> 
        <%= f.file_field :upload %> </br>
        <%= f.check_box :_destroy %>
        <%= f.label :_destroy,  "Remove dictionary" %>
    </p>
  </div>